h1{ position:absolute;
	margin-top:300px;
	padding-left:100px;
}
h6{ position:absolute;
	margin-top:450px;
	padding-left:100px;
}

#login{
	position:absolute;
	margin-left:100px;
	margin-top:550px;
}
#contactus{
	position:absolute;
	margin-left:200px;
	margin-top:550px;
}

#head{
	position:absolute;
	margin-left:-70%;
	margin-top:-10px;
}
body{
	color:white;
	background-image: url("http://4everstatic.com/images/nature/silhouette-dune-foret,-brume-au-dessus-de-la-foret-206316.jpg");
}
.navbar{
	height:70px;
}
#home{
	color:white;
padding:40px;
}
#about{
	color:white;
padding:40px;
}
#contact{
	color:white;
padding:40px;
}

#second{
	margin-top:480px;
}

#exampleModalCenter{
	color:black;
}
